*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: #f0f4f8;
  font-family: 'Cabin', Sans-Serif;
  font-weight: 400;
  line-height: 1.75;
}

 /* form */

 .form-container{
  width: 90vw;
  max-width: 650px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 3rem auto;
  transition: 0.3s ease-in-out all;
  border-top: 3.5px solid #a3297a;
  display: grid;
  justify-content: center;
 }

 .form-container h1{
  margin: 0;
  padding: 2rem 2.5rem 2rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #551e42;
 }

.form {
  padding-bottom: 2.5rem;
  
}

.form-container:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form-input{
  height: 40px;
  width: 81%;
  border: transparent;
  text-align: center;
  color: #8d1d67;
  font-size: medium;
  background-color: #fae4f2;
  border-radius: 0.37rem 0 0 0.37rem ;
}

input:focus {
  outline: 1px solid #a3297a;  
}

::placeholder {
  color: #a3297a;
  letter-spacing: 1px;
}

/* button */

.btn {
  cursor: pointer;
  color: #fff;
  background: #a3297a;
  border: transparent;
  border-radius: 0 0.37rem 0.37rem 0;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  height: 40px;
  width: 100px;
  font-size: medium;
}

.btn:hover {
  background: #7a1f5c;
}

/* alert */

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: 0.25rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  height: 40px;
  margin-bottom: 2.5rem;
  
}

.alert-danger {
  color: #842029;
  background: #f8d7da;
}
.alert-success {
  color: #0f5132;
  background: #d1e7dd;
}

/* vehicle container */
.vehicle-container{
  width: 90vw;
  max-width: 650px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 2rem auto;
  transition: 0.3s ease-in-out all;
  border-bottom: 3.5px solid #a3297a;
  display: grid;
  justify-content: center;
}

.vehicle-container:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.vehicle-container h2{
  margin-top:2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #551e42;
}

.vehicle-container h4{
  margin-top:0rem;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #837e7e;
}

/* table */
.table{
  border-collapse: collapse;
  width: 545px;
  margin: 2.5rem auto;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #dddddd;
}



